@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh !important;
    width: 100vw !important;
    background-color: #FEF6C9;
}

header {
    background-color: #D4DFC7;
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

main {
    margin-top: 25px;
}

h1 {
    color: #FA824C;
    text-align: center;
    font-size: auto;
    margin-bottom: 0;
    font-weight: bolder;
}

.container-flex {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    height: 250px;
}

p {
    font-size: larger;
    text-align: justify;
    margin-top: 12px;
    color: #0F7173;
}

.card {
    margin-top: 12px;
    margin-bottom: 12px;

}

.custom-container {
    margin-top: 0 !important;
}

.max-width-img {
    max-width: 100%;
}

@media (min-width: 768px) {
    .max-width-img {
        max-width: 75%;
        /* Ou ajuste conforme necessário */
    }
}

@media (min-width: 992px) {
    .max-width-img {
        max-width: 50%;
        /* Ou ajuste conforme necessário */
    }
}

@media (min-width: 1200px) {
    .max-width-img {
        max-width: 40%;
        /* Ou ajuste conforme necessário */
    }
}